<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head :: headFragment"></th:block>
    <!-- Bootstrap core CSS -->

</head>
<body class="text-center form-body">

<main class="form-signin">
    <form th:action="@{/user}" th:method="put">
        <h1 class="h3 mb-3 fw-normal">Edit Page</h1>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"/>
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswordCheck" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>

        </br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        </br>
        </br>
    </form>

    <form th:action="@{/user}" th:method="delete">
        <button class="w-100 btn btn-lg btn-secondary" type="submit">Delete</button>
    </form>
</main>

</body>
</html>
