<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Header 설정 -->
<th:block th:replace="fragment/head :: headFragment"></th:block>
<body>

<!-- Nav 설정 -->
<th:block th:replace="fragment/nav :: navFragment"></th:block>

<div class="form-body">
<main class="form-signin text-center">
    <form>
        <img class="mb-4" src="/img/spring-security.png" alt="" width="72" height="57" />
        <h1 class="h3 mb-3 fw-normal">Write Restaurant Info</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="Restaurant Name" />
            <label for="floatingInput">Restaurant Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingAddress" placeholder="Address" />
            <label for="floatingAddress">Address</label>
        </div>
        <div class="form-floating">
            <input type="tel" class="form-control" id="floatingTel" placeholder="Tel" />
            <label for="floatingAddress">Tel</label>
        </div>

        </br></br>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>

    </form>
</main>

</div>



<!-- Footer 설정 -->
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>
