<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Header 설정 -->
<th:block th:replace="fragment/head :: headFragment"></th:block>
<body>

<!-- Nav 설정 -->
<th:block th:replace="fragment/nav :: navFragment"></th:block>

<div class="container">

        <div class="text-center mt-5"  th:if="${response?:false}">
            <h1 th:text="${response?.name}"></h1>
            <p class="lead" th:text="${response?.address}"></p>
            <p class="lead" th:text="${response?.tel}"></p>
            <p><a th:href="@{/place/edit(id=${response.id})}">Edit</a></p>
        </div>
</div>


<!-- Footer 설정 -->
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>
