<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Header 설정 -->
<th:block th:replace="fragment/head :: headFragment"></th:block>
<body>

<!-- Nav 설정 -->
<th:block th:replace="fragment/nav :: navFragment"></th:block>


<div class="form-body">
    <main class="form-signin text-center">
        <form th:action="@{|/place/${response?.id}|}" th:method="put">
            <img class="mb-4" src="/img/spring-security.png" alt="" width="72" height="57" />
            <h1 class="h3 mb-3 fw-normal">Edit Restaurant Info</h1>



            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="name" />
                <label for="floatingInput" th:text="${response?.name}"></label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingAddress" name="address"/>
                <label for="floatingAddress" th:text="${response?.address}"></label>
            </div>
            <div class="form-floating">
                <input type="tel" class="form-control" id="floatingTel" name="tel"/>
                <label for="floatingAddress" th:text="${response?.tel}"></label>
            </div>

            </br></br>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            </br></br>
        </form>

        <form th:action="@{|/place/${response?.id}|}" th:method="delete">
            <button class="w-100 btn btn-lg btn-secondary" type="submit">Delete</button>
        </form>
    </main>

</div>


<!-- Footer 설정 -->
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>
